body {
  margin:0px;
  background-image:url('../../images/全局说明/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:295px 120px;
  position:relative;
  left:-0px;
  width:1349px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2326 {
  position:absolute;
  left:1249px;
  top:21px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2327 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:2px;
}
#u2328 {
  position:absolute;
  left:100px;
  top:1531px;
  width:1149px;
  height:1px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2331 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2331_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2331.mouseOver {
}
#u2332 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2333 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u2334 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2335 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2335_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2335.mouseOver {
}
#u2336 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2337 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2337_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2337.mouseOver {
}
#u2338 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2339 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2339_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2339.mouseOver {
}
#u2340 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2341 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2341_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2341.mouseOver {
}
#u2342 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2344 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2345 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2345_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2345.mouseOver {
}
#u2346 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2347 {
  position:absolute;
  left:540px;
  top:71px;
  width:20px;
  height:10px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u2349 {
  position:absolute;
  left:900px;
  top:0px;
  width:240px;
  height:80px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:510px;
  height:21px;
}
#u2351p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:502px;
  height:1px;
}
#u2351p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:514px;
  height:22px;
}
#u2351p001 {
  position:absolute;
  left:487px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2351p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2351.compound {
  width:0px;
  height:0px;
}
#u2351 {
  position:absolute;
  left:100px;
  top:484px;
  width:500px;
  height:1px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2353_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:461px;
}
#u2353p000 {
  position:absolute;
  left:-225px;
  top:224px;
  width:451px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2353p000_img {
  position:absolute;
  left:-15px;
  top:-7px;
  width:472px;
  height:14px;
}
#u2353p001 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2353p001_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:42px;
  height:32px;
}
#u2353.compound {
  width:0px;
  height:0px;
}
#u2353 {
  position:absolute;
  left:349px;
  top:260px;
  width:1px;
  height:450px;
  color:#666666;
}
#u2354 {
  position:absolute;
  left:2px;
  top:217px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:411px;
  height:22px;
}
#u2355p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:404px;
  height:4px;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  transform:rotate(-30deg);
}
#u2355p000_img {
  position:absolute;
  left:-3px;
  top:-9px;
  width:416px;
  height:26px;
}
#u2355p001 {
  position:absolute;
  left:358px;
  top:-107px;
  width:20px;
  height:20px;
}
#u2355p001_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2355.compound {
  width:0px;
  height:0px;
}
#u2355 {
  position:absolute;
  left:144px;
  top:490px;
  width:400px;
  height:2px;
  color:#3399FF;
}
#u2356 {
  position:absolute;
  left:2px;
  top:-7px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2357 {
  position:absolute;
  left:602px;
  top:475px;
  width:79px;
  height:19px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2358 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2359 {
  position:absolute;
  left:317px;
  top:240px;
  width:66px;
  height:19px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3399FF;
  text-align:center;
}
#u2361 {
  position:absolute;
  left:444px;
  top:269px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#3399FF;
  text-align:center;
}
#u2362 {
  position:absolute;
  left:0px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u2363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2364_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:307px;
  height:202px;
}
#u2364 {
  position:absolute;
  left:242px;
  top:500px;
  width:304px;
  height:199px;
  color:#3399FF;
}
#u2365 {
  position:absolute;
  left:2px;
  top:92px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:26px;
  height:22px;
}
#u2366p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:9px;
  height:3px;
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  -ms-transform:rotate(-1deg);
  transform:rotate(-1deg);
}
#u2366p000_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:30px;
  height:24px;
}
#u2366p001 {
  position:absolute;
  left:-9px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2366p001_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:40px;
  height:42px;
}
#u2366.compound {
  width:0px;
  height:0px;
}
#u2366 {
  position:absolute;
  left:543px;
  top:500px;
  width:6px;
  height:2px;
  color:#3399FF;
}
#u2367 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:286px;
  height:178px;
}
#u2368 {
  position:absolute;
  left:150px;
  top:299px;
  width:283px;
  height:175px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#3399FF;
}
#u2369 {
  position:absolute;
  left:2px;
  top:80px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:25px;
  height:22px;
}
#u2370p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:7px;
  height:2px;
  -webkit-transform:rotate(-68deg);
  -moz-transform:rotate(-68deg);
  -ms-transform:rotate(-68deg);
  transform:rotate(-68deg);
}
#u2370p000_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:28px;
  height:24px;
}
#u2370p001 {
  position:absolute;
  left:-9px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2370p001_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:42px;
  height:40px;
}
#u2370.compound {
  width:0px;
  height:0px;
}
#u2370 {
  position:absolute;
  left:430px;
  top:295px;
  width:5px;
  height:2px;
  color:#3399FF;
}
#u2371 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2372_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:422px;
  height:22px;
}
#u2372p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:413px;
  height:2px;
}
#u2372p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:424px;
  height:22px;
}
#u2372p001 {
  position:absolute;
  left:396px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2372p001_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2372.compound {
  width:0px;
  height:0px;
}
#u2372 {
  position:absolute;
  left:150px;
  top:484px;
  width:411px;
  height:2px;
}
#u2373 {
  position:absolute;
  left:2px;
  top:-7px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:411px;
  height:22px;
}
#u2374p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:403px;
  height:3px;
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
}
#u2374p000_img {
  position:absolute;
  left:-3px;
  top:-13px;
  width:416px;
  height:24px;
}
#u2374p001 {
  position:absolute;
  left:347px;
  top:105px;
  width:20px;
  height:20px;
}
#u2374p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2374.compound {
  width:0px;
  height:0px;
}
#u2374 {
  position:absolute;
  left:150px;
  top:485px;
  width:400px;
  height:2px;
  color:#3399FF;
}
#u2375 {
  position:absolute;
  left:2px;
  top:-7px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2376 {
  position:absolute;
  left:482px;
  top:358px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2377 {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u2378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2378 {
  position:absolute;
  left:508px;
  top:444px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2379 {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u2380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2380 {
  position:absolute;
  left:507px;
  top:515px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2381 {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u2382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2382 {
  position:absolute;
  left:499px;
  top:615px;
  width:95px;
  height:30px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#3399FF;
  text-align:center;
}
#u2383 {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:483px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-style:normal;
  font-size:13px;
}
#u2384 {
  position:absolute;
  left:719px;
  top:240px;
  width:530px;
  height:483px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Negreta', '微软雅黑 Normal', '微软雅黑';
  font-style:normal;
  font-size:13px;
}
#u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u2386 {
  position:absolute;
  left:100px;
  top:150px;
  width:1149px;
  height:40px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u2387 {
  position:absolute;
  left:0px;
  top:4px;
  width:1149px;
  word-wrap:break-word;
}
#u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2388 {
  position:absolute;
  left:209px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2388_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2388.mouseOver {
}
#u2389 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2390 {
  position:absolute;
  left:309px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2390_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2390.mouseOver {
}
#u2391 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2392 {
  position:absolute;
  left:409px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2392_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2392.mouseOver {
}
#u2393 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
