body {
  margin:0px;
  background-image:url('../../images/全局说明/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:295px 120px;
  position:relative;
  left:-0px;
  width:1349px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2823 {
  position:absolute;
  left:209px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2823_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2823.mouseOver {
}
#u2824 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2825 {
  position:absolute;
  left:309px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2825_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2825.mouseOver {
}
#u2826 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827 {
  position:absolute;
  left:409px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2827.mouseOver {
}
#u2828 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2829 {
  position:absolute;
  left:100px;
  top:240px;
  width:1154px;
  height:352px;
}
#u2830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2830 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2831 {
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  word-wrap:break-word;
}
#u2832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2832 {
  position:absolute;
  left:116px;
  top:0px;
  width:111px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2833 {
  position:absolute;
  left:2px;
  top:9px;
  width:107px;
  word-wrap:break-word;
}
#u2834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2834 {
  position:absolute;
  left:227px;
  top:0px;
  width:786px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2835 {
  position:absolute;
  left:2px;
  top:9px;
  width:782px;
  word-wrap:break-word;
}
#u2836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2836 {
  position:absolute;
  left:1013px;
  top:0px;
  width:136px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2837 {
  position:absolute;
  left:2px;
  top:9px;
  width:132px;
  word-wrap:break-word;
}
#u2838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:172px;
}
#u2838 {
  position:absolute;
  left:0px;
  top:35px;
  width:116px;
  height:172px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2839 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u2840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:172px;
}
#u2840 {
  position:absolute;
  left:116px;
  top:35px;
  width:111px;
  height:172px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2841 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:172px;
}
#u2842 {
  position:absolute;
  left:227px;
  top:35px;
  width:786px;
  height:172px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2843 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  word-wrap:break-word;
}
#u2844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:172px;
}
#u2844 {
  position:absolute;
  left:1013px;
  top:35px;
  width:136px;
  height:172px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2845 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2846 {
  position:absolute;
  left:0px;
  top:207px;
  width:116px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2847 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2848 {
  position:absolute;
  left:116px;
  top:207px;
  width:111px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2849 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2850 {
  position:absolute;
  left:227px;
  top:207px;
  width:786px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2851 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2852 {
  position:absolute;
  left:1013px;
  top:207px;
  width:136px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2853 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2854 {
  position:absolute;
  left:0px;
  top:242px;
  width:116px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2855 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2856 {
  position:absolute;
  left:116px;
  top:242px;
  width:111px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2857 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2858 {
  position:absolute;
  left:227px;
  top:242px;
  width:786px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2859 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2860 {
  position:absolute;
  left:1013px;
  top:242px;
  width:136px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2861 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2862 {
  position:absolute;
  left:0px;
  top:277px;
  width:116px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2863 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2864 {
  position:absolute;
  left:116px;
  top:277px;
  width:111px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2865 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2866 {
  position:absolute;
  left:227px;
  top:277px;
  width:786px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2867 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2868 {
  position:absolute;
  left:1013px;
  top:277px;
  width:136px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2869 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u2870 {
  position:absolute;
  left:0px;
  top:312px;
  width:116px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2871 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u2872 {
  position:absolute;
  left:116px;
  top:312px;
  width:111px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2873 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:35px;
}
#u2874 {
  position:absolute;
  left:227px;
  top:312px;
  width:786px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2875 {
  position:absolute;
  left:2px;
  top:2px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u2876 {
  position:absolute;
  left:1013px;
  top:312px;
  width:136px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2877 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1149px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u2878 {
  position:absolute;
  left:100px;
  top:150px;
  width:1149px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u2879 {
  position:absolute;
  left:0px;
  top:4px;
  width:1149px;
  word-wrap:break-word;
}
#u2881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2881 {
  position:absolute;
  left:1249px;
  top:21px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2882 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2884 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2884_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2884.mouseOver {
}
#u2885 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2886 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2886_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2886.mouseOver {
}
#u2887 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2888 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2888_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2888.mouseOver {
}
#u2889 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2890 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2890_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2890.mouseOver {
}
#u2891 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2892 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u2893 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2894 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2895 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u2896 {
  position:absolute;
  left:840px;
  top:71px;
  width:20px;
  height:10px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2898 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u2898_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2898.mouseOver {
}
#u2899 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2900 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2900_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2900.mouseOver {
}
#u2901 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u2902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u2902 {
  position:absolute;
  left:900px;
  top:0px;
  width:240px;
  height:80px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
