body {
  margin:0px;
  background-image:url('../../images/全局说明/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:295px 120px;
  position:relative;
  left:-0px;
  width:1354px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1905 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1905_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1905.mouseOver {
}
#u1906 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1907 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1907_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1907.mouseOver {
}
#u1908 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1909 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#FFFFFF;
}
#u1910 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1911 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1911_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1911.mouseOver {
}
#u1912 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1913 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1913_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1913.mouseOver {
}
#u1914 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1916 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u1917 {
  position:absolute;
  left:440px;
  top:71px;
  width:20px;
  height:10px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1919 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:80px;
  font-size:18px;
  color:#CCCCCC;
}
#u1919_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1919.mouseOver {
}
#u1920 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1921 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1921_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u1921.mouseOver {
}
#u1922 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u1923 {
  position:absolute;
  left:900px;
  top:0px;
  width:240px;
  height:80px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1926 {
  position:absolute;
  left:209px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1926_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1926.mouseOver {
}
#u1927 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1928 {
  position:absolute;
  left:309px;
  top:88px;
  width:85px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1928_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1928.mouseOver {
}
#u1929 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1931 {
  position:absolute;
  left:1249px;
  top:21px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1932 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1933 {
  position:absolute;
  left:305px;
  top:150px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1934 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
  text-align:right;
}
#u1935 {
  position:absolute;
  left:0px;
  top:150px;
  width:300px;
  height:88px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
  text-align:right;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
}
#u1937 {
  position:absolute;
  left:1049px;
  top:150px;
  width:300px;
  height:66px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1939 {
  position:absolute;
  left:1024px;
  top:150px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1941 {
  position:absolute;
  left:325px;
  top:160px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1941_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u1941_seg1 {
  position:absolute;
  left:9px;
  top:-4px;
  width:8px;
  height:236px;
}
#u1941_seg2 {
  position:absolute;
  left:9px;
  top:224px;
  width:132px;
  height:8px;
}
#u1942 {
  position:absolute;
  left:-37px;
  top:164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943 {
  position:absolute;
  left:1024px;
  top:160px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1943_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1943_seg1 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:220px;
}
#u1943_seg2 {
  position:absolute;
  left:-40px;
  top:208px;
  width:34px;
  height:8px;
}
#u1943_seg3 {
  position:absolute;
  left:-40px;
  top:208px;
  width:8px;
  height:9px;
}
#u1943_seg4 {
  position:absolute;
  left:-106px;
  top:209px;
  width:74px;
  height:8px;
}
#u1944 {
  position:absolute;
  left:-60px;
  top:142px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(33, 124, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1945 {
  position:absolute;
  left:507px;
  top:169px;
  width:375px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1946 {
  position:absolute;
  left:40px;
  top:16px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1948 {
  position:absolute;
  left:507px;
  top:172px;
  width:375px;
  height:44px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:47px;
  background:inherit;
  background-color:rgba(33, 124, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:497px;
  top:207px;
  width:394px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u1951 {
  position:absolute;
  left:40px;
  top:14px;
  width:354px;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:164px;
}
#u1952 {
  position:absolute;
  left:550px;
  top:533px;
  width:290px;
  height:164px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1953 {
  position:absolute;
  left:2px;
  top:74px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954 {
  position:absolute;
  left:629px;
  top:288px;
}
#u1954_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1954_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1958 {
  position:absolute;
  left:29px;
  top:5px;
  width:103px;
  height:17px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1954_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1954_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u1961 {
  position:absolute;
  left:523px;
  top:314px;
  width:168px;
  height:168px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1963 {
  position:absolute;
  left:544px;
  top:331px;
  width:128px;
  height:128px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:56px;
}
#u1965 {
  position:absolute;
  left:570px;
  top:345px;
  width:74px;
  height:56px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u1968 {
  position:absolute;
  left:707px;
  top:314px;
  width:168px;
  height:168px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1970 {
  position:absolute;
  left:728px;
  top:332px;
  width:128px;
  height:128px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u1973 {
  position:absolute;
  left:523px;
  top:760px;
  width:168px;
  height:168px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1975 {
  position:absolute;
  left:544px;
  top:777px;
  width:128px;
  height:128px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u1978 {
  position:absolute;
  left:707px;
  top:760px;
  width:168px;
  height:168px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1980 {
  position:absolute;
  left:728px;
  top:777px;
  width:128px;
  height:128px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982 {
  position:absolute;
  left:530px;
  top:761px;
}
#u1982_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1982_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:159px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:159px;
  opacity:0.66;
}
#u1985 {
  position:absolute;
  left:2px;
  top:72px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1986 {
  position:absolute;
  left:16px;
  top:16px;
  width:128px;
  height:128px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1982_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u1988 {
  position:absolute;
  left:582px;
  top:406px;
  width:51px;
  height:42px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u1990 {
  position:absolute;
  left:582px;
  top:852px;
  width:51px;
  height:42px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:56px;
}
#u1992 {
  position:absolute;
  left:570px;
  top:796px;
  width:74px;
  height:56px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
}
#u1995 {
  position:absolute;
  left:1049px;
  top:268px;
  width:300px;
  height:66px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1997 {
  position:absolute;
  left:1024px;
  top:268px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1998 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:1024px;
  top:278px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1999_seg0 {
  position:absolute;
  left:-11px;
  top:-4px;
  width:11px;
  height:8px;
}
#u1999_seg1 {
  position:absolute;
  left:-11px;
  top:-4px;
  width:8px;
  height:9px;
}
#u1999_seg2 {
  position:absolute;
  left:-37px;
  top:-3px;
  width:34px;
  height:8px;
}
#u1999_seg3 {
  position:absolute;
  left:-109px;
  top:-3px;
  width:20px;
  height:8px;
}
#u1999_seg4 {
  position:absolute;
  left:-109px;
  top:1px;
  width:8px;
  height:4px;
}
#u2000 {
  position:absolute;
  left:-83px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2001 {
  position:absolute;
  left:307px;
  top:605px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2002 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
  text-align:right;
}
#u2003 {
  position:absolute;
  left:2px;
  top:605px;
  width:300px;
  height:88px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
  text-align:right;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:327px;
  top:615px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2005_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u2005_seg1 {
  position:absolute;
  left:9px;
  top:-4px;
  width:8px;
  height:236px;
}
#u2005_seg2 {
  position:absolute;
  left:9px;
  top:224px;
  width:132px;
  height:8px;
}
#u2006 {
  position:absolute;
  left:-37px;
  top:164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u2007 {
  position:absolute;
  left:766px;
  top:848px;
  width:51px;
  height:42px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:56px;
}
#u2009 {
  position:absolute;
  left:754px;
  top:792px;
  width:74px;
  height:56px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2011 {
  position:absolute;
  left:757px;
  top:808px;
  width:68px;
  height:39px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2013 {
  position:absolute;
  left:769px;
  top:865px;
  width:51px;
  height:29px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
}
#u2015 {
  position:absolute;
  left:1054px;
  top:806px;
  width:300px;
  height:66px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-style:normal;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2017 {
  position:absolute;
  left:1029px;
  top:806px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2018 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2019 {
  position:absolute;
  left:1029px;
  top:816px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2019_seg0 {
  position:absolute;
  left:-11px;
  top:-4px;
  width:11px;
  height:8px;
}
#u2019_seg1 {
  position:absolute;
  left:-11px;
  top:-4px;
  width:8px;
  height:9px;
}
#u2019_seg2 {
  position:absolute;
  left:-37px;
  top:-3px;
  width:34px;
  height:8px;
}
#u2019_seg3 {
  position:absolute;
  left:-109px;
  top:-3px;
  width:20px;
  height:8px;
}
#u2019_seg4 {
  position:absolute;
  left:-109px;
  top:1px;
  width:8px;
  height:4px;
}
#u2020 {
  position:absolute;
  left:-83px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2021 {
  position:absolute;
  left:766px;
  top:716px;
  width:90px;
  height:34px;
  color:#FFFFFF;
}
#u2022 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2023 {
  position:absolute;
  left:531px;
  top:718px;
  width:90px;
  height:34px;
  color:#FFFFFF;
}
#u2024 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2025 {
  position:absolute;
  left:531px;
  top:492px;
  width:90px;
  height:34px;
  color:#FFFFFF;
}
#u2026 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u2027 {
  position:absolute;
  left:1054px;
  top:667px;
  width:270px;
  height:16px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  visibility:hidden;
  white-space:nowrap;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2029 {
  position:absolute;
  left:1054px;
  top:696px;
  width:300px;
  height:66px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2031 {
  position:absolute;
  left:1029px;
  top:696px;
  width:20px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2032 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2033 {
  position:absolute;
  left:1029px;
  top:706px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2033_seg0 {
  position:absolute;
  left:-11px;
  top:-4px;
  width:11px;
  height:8px;
}
#u2033_seg1 {
  position:absolute;
  left:-11px;
  top:-4px;
  width:8px;
  height:9px;
}
#u2033_seg2 {
  position:absolute;
  left:-37px;
  top:-3px;
  width:34px;
  height:8px;
}
#u2033_seg3 {
  position:absolute;
  left:-109px;
  top:-3px;
  width:20px;
  height:8px;
}
#u2033_seg4 {
  position:absolute;
  left:-109px;
  top:1px;
  width:8px;
  height:4px;
}
#u2034 {
  position:absolute;
  left:-83px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u2035 {
  position:absolute;
  left:843px;
  top:221px;
  width:20px;
  height:22px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:845px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2037 {
  position:absolute;
  left:740px;
  top:169px;
  width:166px;
  height:845px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:414px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u2039 {
  position:absolute;
  left:526px;
  top:224px;
  width:20px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:786px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:507px;
  top:207px;
  width:233px;
  height:786px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:385px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2045 {
  position:absolute;
  left:881px;
  top:956px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2046 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u2047 {
  position:absolute;
  left:478px;
  top:150px;
  width:433px;
  height:62px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2049 {
  position:absolute;
  left:478px;
  top:212px;
  width:30px;
  height:803px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u2051 {
  position:absolute;
  left:508px;
  top:956px;
  width:373px;
  height:59px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2053 {
  position:absolute;
  left:881px;
  top:212px;
  width:30px;
  height:803px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2055 {
  position:absolute;
  left:523px;
  top:230px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2058 {
  position:absolute;
  left:569px;
  top:286px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2060 {
  position:absolute;
  left:526px;
  top:313px;
  width:200px;
  height:1px;
  color:#FFFFFF;
}
#u2061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2063 {
  position:absolute;
  left:581px;
  top:347px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2065 {
  position:absolute;
  left:526px;
  top:374px;
  width:200px;
  height:1px;
  color:#FFFFFF;
}
#u2066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2068 {
  position:absolute;
  left:589px;
  top:407px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2070 {
  position:absolute;
  left:526px;
  top:434px;
  width:200px;
  height:1px;
  color:#FFFFFF;
}
#u2071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2073 {
  position:absolute;
  left:601px;
  top:472px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2075 {
  position:absolute;
  left:526px;
  top:499px;
  width:200px;
  height:1px;
  color:#FFFFFF;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2078 {
  position:absolute;
  left:588px;
  top:529px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2080 {
  position:absolute;
  left:526px;
  top:556px;
  width:200px;
  height:1px;
  color:#FFFFFF;
}
#u2081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
